<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/mystyle.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.dataTables.css'/>
    <link rel='stylesheet' href='/stylesheets/jquery.dataTables.yadcf.css'/>
    <link rel='stylesheet' href='/stylesheets/jquery-ui.css'/>
    <link rel='stylesheet' href='/stylesheets/TableTools.css'/>
    <script src="/javascripts/jquery.js"></script>
    <script src='/javascripts/jquery.dataTables.js'></script>
    <script src="/javascripts/jquery.dataTables.yadcf.js"></script>
    <script src="/javascripts/TableTools.js"></script>
    <script type='text/javascript'>
	$(document).ready(function(){
		$('#expense-list').dataTable({
			"bAutoWidth" : false,
			"bJQueryUI" : true,
			"sDom": 'lfTtip',
        		"oTableTools": {
            			"sSwfPath": "/swf/copy_csv_xls_pdf.swf",
        		}
		}).yadcf([
			{column_number : 0 },
			{column_number : 2 },
		]);
		$('.delete').on('click' , function(){
                	var r = confirm("Are you sure, you want to delete this record?");
			if(r){
				$.ajax({
                                url : '/delete',
				type : 'POST',
                                data : {'_id' :this.parentNode.parentNode.getAttribute('id'), },
                        });
			}
        	});
		$('.edit').on('click', function() {
			$.ajax({
				url : '/edit',
				type : 'POST',
				data : {'_id' :this.parentNode.parentNode.getAttribute('id'), },
			});
		});
	});
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
	<div class='content'>
	<table id='expense-list'>
	<thead class='ui-widget-header'>
		<th width="25%">Spent By</th>
		<th width="15%">On Date</th>
		<th width="30%">Spent for</th>
		<th width="15%">Spent INR</th>
		<th width="20%">Action</th>
	</thead>
	<tbody class='ui-widget-content'>
	<% for(var i=0;i< data.length; i++){ %>
	<% var date = data[i].date.getUTCDate() +'/'+(data[i].date.getUTCMonth() + 1)+'/'+data[i].date.getUTCFullYear();%>
		<tr id="<%= data[i]._id %>">
			<td><%= data[i].name %></td>
			<td><%= date %></td>
			<td><%= data[i].forWhat %></td>
			<td><%= data[i].howMuch %></td>
			<td>
				<button class="btn btn-small btn-primary edit">Edit</button>
				<button class="btn btn-small btn-primary delete">Delete</button>
			</td>
		</tr>
	<% } %>
	</tbody>
	</table>
	</div>
<br/>
<center>
<a href='/update'><button class="btn btn-primary">Add Expense</button></a>
<a href='/stats'><button class="btn btn-primary">View Status</button></a>
</center>
  </body>
</html>
